<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog</title>
    <link rel="stylesheet" href="../css/blog.css">
    <!-- <link href="https://fonts.googleapis.com/css?family=Raleway:400,800" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet">
</head>
<body>

    <div class="post">
        <div class="date">July 21 2017</div>
        <h2>This is My First Article</h2>
        <p class="quote">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin blandit odio justo, eu rutrum arcu facilisis a. Curabitur sed velit commodo, suscipit sapien et, iaculis ante. Nam consequat orci eget tortor pretium viverra in sit amet augue. In id cursus eros. Aliquam id tellus at tortor tincidunt mollis eget malesuada nulla. Etiam elementum tortor eu odio sollicitudin bibendum.</p>
        <p>Curabitur ac vehicula velit. Aliquam metus turpis, mattis sed dui et, sollicitudin fermentum turpis. Morbi viverra faucibus quam non sagittis. Nulla dolor ligula, porta ut dui vitae, laoreet tempus sapien. Nam quis elementum neque, vel maximus felis. Nullam dapibus imperdiet nisi, vitae fermentum odio elementum nec. Praesent laoreet vel libero non ultrices. Proin egestas sapien in molestie dictum.</p>
        <p>Morbi laoreet turpis tortor, quis finibus lectus interdum eu. In suscipit id felis nec facilisis. Fusce id eros sollicitudin, volutpat quam sed, lobortis libero. Proin at metus mattis, convallis elit et, feugiat sem. Vivamus in fermentum sapien, nec imperdiet nibh. Vestibulum eleifend mattis lorem ac tincidunt.</p>
        <hr>
    </div>
    
    <div class="post">
        <div class="date">September 02 2017</div>
        <h2>This is Another Article</h2>
        <p class="quote">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin blandit odio justo, eu rutrum arcu facilisis a. Curabitur sed velit commodo, suscipit sapien et, iaculis ante. Nam consequat orci eget tortor pretium viverra in sit amet augue. In id cursus eros. Aliquam id tellus at tortor tincidunt mollis eget malesuada nulla. Etiam elementum tortor eu odio sollicitudin bibendum.</p>
        <p>Curabitur ac vehicula velit. Aliquam metus turpis, mattis sed dui et, sollicitudin fermentum turpis. Morbi viverra faucibus quam non sagittis. Nulla dolor ligula, porta ut dui vitae, laoreet tempus sapien. Nam quis elementum neque, vel maximus felis. Nullam dapibus imperdiet nisi, vitae fermentum odio elementum nec. Praesent laoreet vel libero non ultrices. Proin egestas sapien in molestie dictum.</p>
        <p>Morbi laoreet turpis tortor, quis finibus lectus interdum eu. In suscipit id felis nec facilisis. Fusce id eros sollicitudin, volutpat quam sed, lobortis libero. Proin at metus mattis, convallis elit et, feugiat sem. Vivamus in fermentum sapien, nec imperdiet nibh. Vestibulum eleifend mattis lorem ac tincidunt.</p>
    </div>

</body>
</html>