<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Form Elements Demo</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <h1>Login</h1>

        <!-- action - where the form send data to  -->
        <!-- method - what HTTP method (get/post) defaults to get method  -->

        <!-- Label - Type 1  -->
        <!-- <form action="http://wikipedia.org">
            <label>
                Username:
                <input name="username" type="text" placeholder="Username">
            </label>

            <label>
                Password:
                <input name="password" type="password" placeholder="Password">
            </label>
            
            <input type="submit">
        </form> -->

        <!-- Label - Type 2  -->
         <form action="http://wikipedia.org">
            <label for="username">Username:</label>
            <input id="username" type="text" placeholder="Username">

            <label for="password">Password:</label>
            <input id="password" type="password" placeholder="Password">

            <input type="submit">
        </form> 
        
    </body>
</html>