<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Web Developer Bootcamp</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <h1>Welcome to Web Developer Bootcamp</h1>

        <!-- Tables  -->
        <section>
            <h3>Tables</h3>
            <table border="1">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Breed</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Rusty</td>
                        <td>2</td>
                        <td>Mutt</td>
                    </tr>
                    <tr>
                        <td>Wyatt</td>
                        <td>13</td>
                        <td>Golden</td>
                    </tr>
                </tbody>
            </table>
        </section>
        <br>
        <div>
            <a href="./pokemon.html">Pokemon Chart</a>
        </div>
        
    </body>
</html>
