h1 {
    color: #FF0000;
}

h4 {
    /* r -> red  */
    /* g -> green  */
    /* b -> blue  */
    color: rgb(0, 0, 255);
}

li {
    /* a -> alpha, specifies transparency, value ranges from 0 - 1  */
    color: rgba(0, 125, 0, 0.5);
}