<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Fonts Demo</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/fontDemo.css">
        <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Raleway:400,700" rel="stylesheet">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <h1>Fonts Demo</h1>

        <p>
            Bacon ipsum dolor amet <span>drumstick</span> tongue turducken, sirloin burgdoggen fatback prosciutto hamburger rump boudin meatloaf. Porchetta short loin spare ribs meatball tongue shank, tenderloin filet mignon bresaola prosciutto. Ham hock corned beef boudin, cow pork belly salami chicken biltong spare ribs. Tail shankle cow, doner picanha jowl brisket filet mignon.
        </p>
        <p>
            T-bone jerky picanha tongue, landjaeger brisket rump kielbasa doner frankfurter chuck bresaola jowl pork loin. Pastrami pork chop sirloin kevin chuck. Fatback chicken alcatra, leberkas t-bone pig shankle. Bresaola tri-tip burgdoggen, turducken tenderloin picanha sausage pig prosciutto jerky shank ham t-bone corned beef cupim. Jerky pastrami shankle flank brisket capicola ribeye biltong ground round bresaola picanha landjaeger short ribs. Filet mignon pork chop leberkas chicken ham hock rump. Short ribs cupim pork belly burgdoggen beef meatloaf strip steak rump prosciutto kielbasa ham tongue spare ribs.
        </p>
        
    </body>
</html>