<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Advanced Selectors</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/selectors.css">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <h1>Advanced Selectors</h1>

        <h4>Fruits</h4>
        <ul>
            <li>Apple</li>
            <li>Orange</li>
            <li>Banana</li>
            <li>Mango</li>
            <li>Grapes</li>
            <li>Rasperry</li>
        </ul>

        <h4>Vegetables</h4>
        <ul>
            <li>Carrot</li>
            <li>Spinach</li>
            <li>Betroot</li>
            <li>Beans</li>
            <li>Tomato</li>
            <li>Potato</li>
        </ul>

        <h4>Popular Websites</h4>
        <ul>
            <li>
                <a href="http://www.google.com">Google</a>
            </li>
            <li>
                <a href="http://www.facebook.com">Facebook</a>
            </li>
            <li>
                <a href="http://www.reddit.com">Reddit</a>
            </li>
        </ul>
        
    </body>
</html>
